.controls {
  height: 15vh;
  overflow: hidden;
  position: relative;
}

.controlBase {
  height: 100%;
  width: 100%;
  border-radius: 87%;
  background-color: green;

  /* background: #ECECEC; */
  transform: scale(1.23);
  box-shadow: 0px -12px 11px rgba(0, 0, 0, 0.25);
  margin-top: 4%;
  display: flex;
  /* align-items: flex-; */
}
.controlBoxes {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3.5%;
}

.controlLableAndComponent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
